@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-unique {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-unique {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.margin-top{
    margin-top: 120px;
}
.margin{
    max-width: 1440px;
    margin: 0 auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-list{
    display: flex;
    justify-content: space-around;
    gap: 48px;
}
.header-nav a {
    text-decoration: none;
}
.header-nav li {
    list-style: none;
}
.active{
    color: #252432;
    font-weight: bold;
}
.active2{
    color: #8987A1;
}
.active3{
    color: #000000;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}
.header-text-container, .header-image-container{
    width: 50%;
}

.header-image-container img{
    width: 100%;
}
.header-title{
    font-size: 4rem;
    font-weight: 700;
}
.header-title-highlight{
    color: #E95A08;
}
.header-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
}
.section1-container{
    text-align: center;
    justify-items: center;
    margin-bottom: 49px;
}
.section1-description{
    width: 60%;
    margin: 0 auto;
}

.section1-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.section1-image-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    text-align: center;
    gap: 20px;
}
.card-button,.card-image{
    width: 100%;
}
.card-button{
    background-color: #E95A08;
    color: white;
    padding: 26px 50px;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    border: none;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.card-text{
    font-size: 1.5rem;
    font-weight: 800;    
}
.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.section2-image-container, .section2-text-container {
    width: 50%;
}

.section2-text-container{
    margin: auto 0;
}
.section2-title{
    font-size: 4rem;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 20px;
}
.section2-list-item{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.section2-badge-container{
    position: relative;
    left: -200px;
    top: -250px;
}
.trusted-badge{
    width: 286px;
    height: 286px;
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.25));
}



.top-1{
    margin-top: 140px;
}
.section3-header-container{
    text-align: center;
}
.section3-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.section3-description{
    width: 60%;
    margin: 0 auto;
}


.card-1{
    background-image: url('assets/deal-bloom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    display: flex;
}
.card-3{
    background-image: url('assets/deal-ana.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    display: flex;
}
.card-2{
    background-image: url('assets/deal-zabo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-row: span 2;
    grid-column: span 2;
    border-radius: 22px;
    display: flex;
}
.section3-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 28px;
}

.title-2{
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 175px;
    margin-bottom: 0px;
}
.title{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 65px;
    margin-bottom: 0px;
}
.button{
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 65px;
    text-decoration: underline;
}
.button-2{
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 150px;
    text-decoration: underline;
}
.common-card{
    background-color: rgba(0, 0, 0, 0.4);
    flex: 1;
    border-radius: 14px;
}
.common-card-1{
    background-color: rgba(0, 0, 0, 0.4);
    flex: 1;
    border-radius: 22px;
}





















@media screen and (max-width: 576px) {
    .margin-top{
        margin-top: 40px;
    }
    .header-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .header-text-container, 
    .header-image-container,
    .section2-image-container, 
    .section2-text-container,
    .section2-image {
        width: 100%;
    }
    .header-text-container,
    .section2{
        margin: 0 auto;
    }
    .header-title {
        font-size: 2rem;
        margin-bottom: 0px;
    }
    .header-text {
        font-size: 1rem;
    }
    .header-nav-list, 
    .section2 {
        flex-direction: column;
        gap: 16px;
    }
    .active, .active2{
        display: none;
    }
    .section1-container{
        margin-bottom: 28px;
    }
    .section1-image-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .section1-description, .section3-description{
        width: 95%;
        margin: 0 auto;
    }
    .section2-title{
        font-size: 2rem;
        margin-top: 20px;
    }
    .trusted-badge{
        display: none;
    }

    .section3-cards-container{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        column-gap: 0px
    }
    .card-3{
        grid-row: 2;
    }
     .card-1, .card-3{
        background-size: cover;
     }
    .card-2, .common-card-1{
        border-radius: 14px;
    }
    .common-card,.common-card-1{
        background-color: rgba(0, 0, 0, 0.6);
    }
    .title-2{
        color: #FFFFFF;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 65px;
        margin-bottom: 0px;
    }
    .button-2{
        color: #FFFFFF;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 65px;
        text-decoration: underline;
    }
}