@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-unique {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-unique {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.margin-top{
    margin-top: 120px;
}
.margin{
    max-width: 1440px;
    margin: 0 auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-list{
    display: flex;
    justify-content: space-around;
    gap: 48px;
}
.header-nav a {
    text-decoration: none;
}
.header-nav li {
    list-style: none;
}
.active{
    color: #252432;
    font-weight: bold;
}
.active2{
    color: #8987A1;
}
.active3{
    color: #000000;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}
.header-text-container{
    width: 50%;
}
.header-image-container{
    width: 50%;
}
.header-image-container img{
    width: 100%;
}
.header-title{
    font-size: 4rem;
    font-weight: 700;
}
.header-title-highlight{
    color: #E95A08;
}
.header-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
}

@media screen and (max-width: 576px) {
    .header-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .header-text-container, .header-image-container {
        width: 100%;
    }
    .header-text-container{
        margin: 0 auto;
    }
    .header-title {
        font-size: 2rem;
        margin-bottom: 0px;
    }
    .header-text {
        font-size: 1rem;
    }
    .header-nav-list {
        flex-direction: column;
        gap: 16px;
    }
    .active, .active2{
        display: none;
    }
}